* {
  font-family: "Plus Jakarta Sans";
}

.font-jakarta {
  font-family: "Plus Jakarta Sans";
}

.font-bebas {
  font-family: "Bebas Neue";
}

.jumbotron {
  padding-top: 2rem;
  background-color: #e4e4e4;
}

#nav-bot {
  display: none;
}

#projectss {
  padding-top: 2rem;
  background-color: #e4e4e4;
}

.background_shape {
  position: absolute;
  width: 70%;
  top: 0px;
  left: 0px;
  height: calc(50vh + 0px);
  background-color: #c2c1c1;
  clip-path: polygon(100% 0%, 81% 86%, 0% 100%, 0% 0%);
}

.background_shape.opened {
  height: calc(70vh + 65px);
}

.footer-sub-menu li a i {
  margin-right: 5px;
}

.footer .footer-sub-menu li .footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  text-decoration: none;
}

@media (max-width: 576px) {
  #navbar_top {
    display: none;
  }

  #nav-bot {
    display: flex;
  }
}
