* {
  font-family: "Plus Jakarta Sans";
}

.font-jakarta {
  font-family: "Plus Jakarta Sans";
}

.font-bebas {
  font-family: "Bebas Neue";
}

.jumbotron {
  padding-top: 2rem;
  background-color: #e4e4e4;
}

#nav-bot {
  display: none;
}

#projectss {
  padding-top: 2rem;
}

.nav.nav-pills .nav-item .nav-link.active {
  color: #e4e4e4;
  background-color: #212529;
}

.nav.nav-pills .nav-item .nav-link {
  color: #212529;
}

.background_shape {
  position: absolute;
  width: 70%;
  top: 0px;
  left: 0px;
  height: calc(50vh + 0px);
  background-color: #c2c1c1;
  clip-path: polygon(100% 0%, 81% 86%, 0% 100%, 0% 0%);
}

.background_shape.opened {
  height: calc(70vh + 65px);
}

.footer-sub-menu li a i {
  margin-right: 5px;
}

.footer .footer-sub-menu li .footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  text-decoration: none;
}

.circle-cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  cursor: none;
}

.circle-cursor-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid white;
}

.circle-cursor-outer:hover {
  border: 2px solid black;
}

.circle-cursor-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  z-index: 999;
}

.cursor-hover-element {
  display: inline-block;
  position: relative;
  z-index: 2;
}
